:root {
    --primary: #3D6734;
    --secondary: #f1f1f1;
    --ternary: #433D8B;
    --low: #C8ACD6;

    --title: 2rem;
    --paragraph: 1.3rem;
}

.active {
    font-weight: 700;
    color: var(--primary);
}

/* From Uiverse.io by Yaya12085 */
#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    transition-duration: .5s;
}

.bars {
    width: 100%;
    height: 4px;
    background-color: rgb(92, 130, 255);
    border-radius: 4px;
}

#bar2 {
    transition-duration: .8s;
}

#bar1 {
    width: 50%;
}

#bar2 {
    width: 75%;
}

#checkbox:checked+.toggle .bars {
    position: absolute;
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .1s;
}

#checkbox:checked+.toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}

#checkbox:checked+.toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
}