:root {
    --primary: #17153B;
    --secondary: #2E236C;
    --ternary: #433D8B;
    --low: #C8ACD6;

    --title: 2rem;
    --paragraph: 1.3rem;
}

.active {
    font-weight: 700;
    color:#2E236C;
}