@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.swiper-button-prev-custom,
.swiper-button-next-custom {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  color: #000;
  /* Change this to the desired color */
  background: rgba(255, 255, 255, 0.7);
  /* Change this to the desired background */
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev-custom {
  left: -50px;
}

.swiper-button-next-custom {
  right: -50px;
}

/* Add hover effect */
.swiper-button-prev-custom,
.swiper-button-next-custom {
  background: var(--ternary);
  color: white;
  transition: all 300ms ease-in-out;
  /* Change this to the desired hover background */
}

.swiper-button-prev-custom:hover,
.swiper-button-next-custom:hover {
  background: var(--primary);
  color: white;
  /* Change this to the desired hover background */
}