@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .swiper-button-prev-custom,
.swiper-button-next-custom {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  color: #000;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 425px) {

  .swiper-button-prev-custom,
  .swiper-button-next-custom {
    width: 20px !important;
    height: 20px !important;
    font-size: 10px;
  }
}


.swiper-button-prev-custom,
.swiper-button-next-custom {
  background: #23a006;
  color: white;
  transition: all 300ms ease-in-out;
}

/* .swiper-button-next-custom {
  right: -5%;
}
.swiper-button-prev-custom {
  left: -5%;
} */


/* .swiper-button-prev-custom:hover,
.swiper-button-next-custom:hover {
  background: var(--primary);
  color: white;
} 
  */